@import url("./headersVariables.css");

@import url("./header__center/header__center.css");
@import url("./header__menu/header__menu.css");
@import url("./header__social/header__social.css");

@import url("./highlight-big-image-on-right.css");

@import url("./animations.css");

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.header
{
    position: relative;
    display: flex;
    width: var(--header-width);
    height: 90vh;
    
    align-items: center;
    justify-content:center;
 
    background: url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;

    z-index: 2;
}
















