.main-header
{
    --header-height:850px;
    --header-width:100vw;
    --testBorder: 3px dashed rgb(255, 0, 0);


/* Line Colors */
    --verticalLines:yellow;
    --horizontalLines:rgb(255, 255, 255);

/* Line margins */
    --horizontalLinesMargin:20%;
    --verticalLinesMargin:22%;
    
}