@import url("./headersVariables.css");

@import url("./effect-layer.css");
@import url("./container-social-header/container-social-header.css");
@import url("./container-center-header/container-center-header.css");
@import url("./container-menu-header/container-menu-header.css");
@import url("./container-social-header/container-social-header.css");
@import url("./container-cool-circle/container-cool-circle.css");
@import url("./highlight-big-image-on-right.css");

@import url("./animations.css");


@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



.main-header
{
    position: relative;
    display: flex;
    width: var(--header-width);
    height:var(--header-height);
    bottom:120px;
    
    align-items: center;
    justify-content:center;
 
    background: url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    z-index: 2;
}
















