@import url('./header-link-git.css');

.container-center-header
{
    position:relative;
    display: flex;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* border: 1px solid rgb(13, 228, 5); */
    
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.header-left
{
    position:absolute;
    height: 0;
    left:var(--horizontalLinesMargin);
    bottom:var( --verticalLinesMargin);
    box-shadow: 0px 0px 1px -2px black;
    border-left:1px solid var(--horizontalLines);
    z-index: 4;

    animation: leftLine 3s  forwards;


}
.header-right
{
    position:absolute;
    width: 100%;
    height: 0vh;
    right:var(--horizontalLinesMargin);
    bottom:var( --verticalLinesMargin);
    z-index: 3;
   

    animation: rightLine 3.5s forwards;

    
    background:url("https://images.pexels.com/photos/698808/pexels-photo-698808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header::before
{
    position:absolute;
    top:15%;
    right:calc(50% - 20%);
    content: "";
    height:1px;
    width:0%;
    background-color:rgb(219, 209, 60);
    z-index: 4;
   
    animation:topLine 4s forwards ;  
}
header::after
{
    
    position:absolute;
    bottom: 20%;
    right:70%;
    content: "";
    height:1px;
    width:0%;
    background-color:rgb(219, 209, 60);
    transform: rotate(180deg);
    transform-origin:right;
    z-index: 3;
    animation:botLine 0.5s forwards 2.2s;  
}
.header-center
{
    display:flex;
    position: absolute;
    width:70vw; 
    height: 50vh;
    /* border:var(--testBorder); */
   

    z-index: 3;
    /* overflow: hidden; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border:2px dashed red;  */
    white-space: nowrap;
    color:white;
    
    font-size:25pt;
    flex-wrap: nowrap;
    filter: blur(0px);
}
.header-right div
{
    opacity: 0.95;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.65+100;Neutral+Density */
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
}


.header-center sub 
{
    position:relative;
    bottom: 28%;

}
.header-center h1
{
    position:relative;
    bottom:calc(28% - 15px);
    text-shadow: 0 0 5px rgb(255, 255, 0);
    z-index: 1;
}