.my-projects
{
    display:flex;
    width:100vw;
    height:fit-content;
    margin:auto;
    margin-top:20px;
    box-shadow: -35px -35px 30px  2px black;
    border: 1px solid black;

    padding-top: 10px;
    flex-direction:column;
    background:black;
    align-items:flex-start;
    text-indent: 10px;
    z-index: 10;
    
}
.container-projects
{
    display:flex;
    position: relative;
    width: 100%;
    height:fit-content;
    overflow: hidden;

    border: 1px solid black;
}
.container-projects ul
{
    display:flex;
    height:fit-content;
    right: 0;
    left: 0;
    /* border: 1px solid rgb(253, 18, 18); */
    
    gap:20px;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.project-holder
{
    min-width: 500px;
    height: 300px;
    /* border: 1px solid rgb(218, 253, 18); */

    background: url("https://images.pexels.com/photos/832982/pexels-photo-832982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: contain;
}

.btns-projects-roller
{
    display:flex;
    font-size: 30pt;
    color: white;
    position: absolute;
    height:100%;
    width: 100px;

    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.562);
}
.roller-right
{
    right:0;
}