@import url('./projects--hover.css');
.projects
{
    display:flex;
    position: relative;
    width:100vw;
    height:fit-content;
    margin-bottom:40px;
    margin-top:20px;
    box-shadow: 
    -35px -35px 30px  2px black,
    35px 35px 30px  2px black;
 
    align-items:flex-start;
    flex-direction:column;
}
.projects__h1
{
    text-indent: 10px; 
    color: white;
    text-align: center;
    padding:5px;
    width:100%
}
.projects__container
{
    display:flex;
    position: relative;
    overflow:scroll;
    width: 100vw;
    height:300px;
    scrollbar-width: none;
}
.projects__container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.projects__ul
{
    display:flex;
    position: absolute;
    width:fit-content;
    height:100%;

    justify-content: flex-start;
    background:transparent;
    list-style: none;
}

.projects__item
{
    position: relative;
    display: flex;
    min-width: 500px;
    height: calc(300px - 2px);
    margin-left: 10px;
    border-bottom:1px solid yellow;
     
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    font-size:60pt;
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.054);
    text-shadow: 5px 5px 25px white,
    5px 3px 0px yellow,
    -10px 3px 10px rgb(255, 0, 255),
    10px 3px 10px green;
    ;
}
.item__images 
{
    list-style: none;
}
.item__images  li 
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.project__description
{
    position:absolute;
    display: flex;
    width:300px;
    height:calc(100% + 2px);
    right:-300px;
    
    transition: 0s;
    align-items: center;
    justify-content: center;

  
    transform-origin: left;
    transform: scaleX(0);
    background: rgb(24,21,21);
    z-index: 1;
}

.project__description article
{
    display: flex;
    position: absolute;
    width:90%;
    height:fit-content;

    justify-content: flex-start;
    font-size:11pt;
    font-family: 'Concert One', cursive;
    row-gap: 5px;
    text-shadow: none;
    flex-direction: column;
    align-items: flex-start;
    
    transition:0.5s;
    filter:
    drop-shadow(0px 0px 5px rgb(0,0,0))
    ;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.description
{
    max-width: 100%;
    word-wrap: break-word;
}
.technologys
{
    font-size: 8pt;
    color: grey;
}
.projects__btns
{
    position: relative;
    display:flex;
    color: white;
    width: 100%;
    height: 30px;
    bottom:0;
    transition: 0.5s;
    letter-spacing:5px;
}

.projects__btns a
{
    text-decoration: none;
    color: white;
}

.projects__application
{
    display:flex;
    justify-content:center;
    align-items: center;
    background:greenyellow;

    flex:1;
    font-size:14pt;
    color:white;
    text-shadow: 1px 1px 3px black;
}
.projects__code
{
    display:flex;
    justify-content:center;
    align-items: center;
    background:orangered;
  
    flex:1;
    font-size:14pt;
    color:white;
    text-shadow: 1px 1px 3px black;
}






.projects__scrollers__container
{
    width: 100%;
    height: 100%;
    position:absolute;
    background:rgba(255, 255, 255, 0);
    z-index: 10;
    pointer-events: none;
}
.projects__scroller 
{
    display:flex;
    position:absolute;
    height:100%;
    width: 100px;
    
    align-items: center;
    justify-content: center;
    font-size: 30pt;
    background: rgb(82, 82, 82);
    color: white;
    backdrop-filter: blur(10px);
    pointer-events:all;

    z-index: 2;
}
.right
{
    right:0;
}
