
.projects__item:hover
{
    background:rgba(255, 255, 255, 0.054);
}
.projects__item:hover .project__description
{
    transform: scaleX(1);
    background: rgb(24,21,21);
    transition: 0.3s;
    transition-delay: 0.1s;

  } 
 .last-project:hover  .project__description
{
    transform: scaleX(1) translateX(-600px);
    background: rgb(24,21,21);
    transition: 0.3s;
    transition-delay: 0.1s;
}
.project__description article:hover
{
    filter:
    drop-shadow(0px 0px 10px rgb(50,50,50))
    drop-shadow(0px 0px 10px rgb(50,50,50))
    drop-shadow(0px 0px 10px rgb(50,50,50))
    drop-shadow(0px 0px 10px rgb(50,50,50))
    ;
}
.projects__application:hover
{
    cursor: pointer;
    background:rgb(206, 253, 136);
}
.projects__code:hover
{
    cursor: pointer;
    background:rgb(248, 169, 140);
}