
.projects
{
    position: relative;
    width:90vw;
    height:fit-content;
    box-shadow: 
    -35px -35px 30px  2px black,
    35px 35px 30px  2px black;
    border: 1px solid white;

    flex-direction:column;
    align-items:center;
}
.projects__h1
{
    text-indent: 10px; 
    color: white;
    text-align: center;
    padding:5px;
    width:100%
}
.projects__container
{
    display:flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 600px;
    overflow-x: scroll;
}

.projects__ul
{
 display:flex;
 background:transparent;
 list-style: none;
}

.projects__item
{
    position: relative;
    display: flex;
    min-width: 500px;
    height:400px;
    margin:5px;
    border-bottom:1px solid yellow;
     
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
   
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.054);
  
}
.projects__item h1
{
    padding-top: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    height: 10%;
    font-size:20pt;
    word-wrap: wrap;
    text-align: center;
    background:rgba(0, 0, 0, 0.37);
   
}

.projects__item .description
{
    display: flex;
    position: absolute;
    align-items:flex-end;
    justify-content:center;
    bottom: 0;
    width: 100%;
    height: 40%;
    /* border: 1px solid white; */
    font-size:35pt;
    text-align: center;
    background: rgba(0, 0, 0, 0.219);
   
}

.projects__item .description a
{

    color: white;
    font-size:15pt;
    height:20px;
    width: 150px;
    margin:5px;
    padding:10px;
    text-decoration: none;
    border-radius: 5%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}