.projects
{
    display:flex;
    width:100vw;
    height:fit-content;
    margin-bottom:40px;
    margin-top:20px;
    box-shadow: 
    -35px -35px 30px  2px black,
    35px 35px 30px  2px black;
    /* border: 1px solid rgb(0, 255, 55); */
    padding-top: 10px;
    align-items:flex-start;
    flex-direction:column;
}
.projects__h1
{
    text-indent: 10px; 
}
.projects__container
{
    display:flex;
    position: relative;
    width: 100%;
    height:300px;
}
.projects__ul
{
    display:flex;
    width:100vw;
    height:fit-content;
    overflow:visible;
    gap:10px;
    justify-content: flex-start;
    background:transparent;
    list-style: none;
    scrollbar-width: none;
}
.projects__ul::-webkit-scrollbar
{
opacity: 0;
}
.projects__item
{
    position: relative;
    display: flex;
    min-width: 500px;
    height: 300px;
    border-radius:10px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    font-size:60pt;
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.054);
    text-shadow: 5px 5px 25px white,
    5px 3px 0px yellow,
    -10px 3px 10px rgb(255, 0, 255),
    10px 3px 10px green;
    ;
}
.item__images 
{
    list-style: none;
}
.item__images  li 
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom:1px solid yellow;

}

.projects__scroller 
{
    display:flex;
    position: absolute;
    height:100%;
    width: 100px;
    
    align-items: center;
    justify-content: center;
    font-size: 30pt;
    background: rgba(0, 0, 0, 0.562);
    color: white;

    z-index: 2;
}
.right
{
    right:0;
}
.projects__item:hover
{
    background:rgba(255, 255, 255, 0.054);
}

.projects__description
{
    position:absolute;
    display: flex;
    width:300px;
    height:290px;
    right:0px;
    
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    transition-delay: 0.1s;
    transform-origin: right;
    transform: scaleX(0);
    background: rgb(24,21,21);
    z-index: 1;
}

.projects__item:hover .projects__description
{
    width:300px;
    right:-300px;
    transform: scaleX(1);
    background: rgb(24,21,21);
  } 
.projects__description article
{
    display: flex;
    position: relative;
    width:90%;
    height:fit-content;
    /* border: 1px solid red; */

    justify-content: flex-start;
    font-size:11pt;
    font-family: 'Concert One', cursive;
    row-gap: 5px;
    text-shadow: none;
    flex-direction: column;
    align-items: flex-start;
    
    transition:0.5s;
    filter:
    drop-shadow(0px 0px 5px rgb(0,0,0))
    ;
    color: rgb(255, 255, 255);
    z-index: 3;
}
.projects__description article:hover
{
    filter:
    drop-shadow(0px 0px 5px rgb(0,0,0))
    drop-shadow(0px 0px 5px rgb(0,0,0))
    drop-shadow(0px 0px 5px rgb(0,0,0))
    drop-shadow(0px 0px 5px rgb(0,0,0))
    ;
    transform: scaleX(1.7) scaleY(1.7);
}
.technologys
{
    font-size: 8pt;
    color: grey;
}

.projects__btns
{
    position: relative;
    display:flex;
    color: white;
    width: 100%;
    height: 30px;
    bottom:0;
    transition: 0.5s;
    letter-spacing:5px;
}

.projects__btns a
{
    text-decoration: none;
    color: white;
}
.projects__description article:hover .projects__btns
{
    bottom:-30px;
    width: 110%;
    height: 40px;
}

.projects__application
{
    display:flex;
    justify-content:center;
    align-items: center;
    background:greenyellow;

    flex:1;
    font-size:14pt;
    color:white;
    text-shadow: 1px 1px 3px black;
 
   
}
.projects__code
{
    display:flex;
    justify-content:center;
    align-items: center;
    background:orangered;
  
    flex:1;
    font-size:14pt;
    color:white;
    text-shadow: 1px 1px 3px black;
}
.projects__application:hover
{
    cursor: pointer;
    background:rgb(206, 253, 136);
}
.projects__code:hover
{
    cursor: pointer;
    background:rgb(248, 169, 140);
}