@import url("./home/mediasquerys/mainMedia.css");
@import url("./home/home.css");
@import url("./projects/projects.css");
@import url("./about/about.css");


.main
{
    position: relative;
    display:flex;
    width: 100vw;
    height: fit-content;
    top:0px;
    
    justify-content: center;
    gap: 20px;
    align-items:center;
    flex-direction: column;
    background-color: rgb(46, 45, 45);
    z-index: 1;
}

.pool
{
    position: relative;
    display:flex;
    width:90vw;
    height:80vw;
    max-height:80vh;
    border: 1px solid rgb(255, 254, 254);

    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
}