@import url("./home/mediasquerys/mainMedia.css");
@import url("./home/my.home.css");
@import url("./projects/my-projects.css");
@import url("./about/about.css");


.main
{
    position: relative;
    display:flex;
    width: 100vw;
    height: fit-content;
    top:80px;

    flex-direction: column;
    background-color: rgb(46, 45, 45);
    z-index: 1;
}

.my-pool
{
    position: relative;
    display:flex;
    width:90vw;
    height:80vw;
    max-height:80vh;
    margin:auto;
    margin-top:50px;
    border: 1px solid black;
    

    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;


}