
.header__social
{
    position:absolute;
    height:10%;
    width:10%;
    top:5px;
    left:5px;
   
    background: inherit;
    transition:0.5s;
}

.header__social:hover
{
    transition:0.5s;
    width:15%;
}

.header__items
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-shadow: 
    -1px -1px 5px 0px rgba(255, 255, 255, 0),
    -10px -10px 5px 5px rgba(0, 0, 0, 0),
    10px 10px 10px 10px rgba(3, 3, 3, 0);
    border-radius:3%;
    overflow: hidden;  

    transition-duration: 0.5s; 
    
    justify-content:center;
    background:inherit;
    align-items:center; 
}

.header__whats
{
    display: flex;
    height:100%;
    flex: 0.5;
    
    transition:0.5s;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../../../icons/app.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgb(71, 167, 52);
    z-index: 1;
}
.header__gmail  
{
    display: flex;
    height:100%;
    flex: 0.5;
    background: url("../../../icons/gmail-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color:rgb(167, 48, 48);

    transition:0.5s; 

    z-index: 1;
}
.header__whats:hover 
{
    transition:0.5s;
    height:100%;
    flex: 1;
}
.header__gmail:hover
{
    transition:0.5s;
    height:100%;
    flex: 1;
}
